@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    --very-Dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    min-height: 100vh;
}


img {
    display: block;
}

h1, h2 {
    text-align: center;
}

p {
    margin: 2rem 0;
}

a {
    text-decoration: none;
}

.header-navigator {
    font-family: 'Raleway', sans-serif;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 100px;
}

.nav-links-header ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.nav-links-header > ul li a {
    text-decoration: none;
    color: var(--very-Dark-blue);
}

.grid-container {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    row-gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.header-img {
    max-width: 100%;
}


input[type=email] {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
}

form {
    width: 100%;
}

.header-form input[type=submit] {
    margin-top: 1rem;
}

input[type=submit] {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    background: var(--bright-blue);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.7;
}

.bg-main {
    width: 100%;
}

.testimonial {
    background: var(--light-grayish-blue)
}

.testimonial-img {
    width: 100%;
}

.text-desta {
    color: var(--desaturated-blue);
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border:none;
    background: transparent;
    position: relative;
    margin: 2rem auto;
    border: 0;
    border-bottom: 2px solid var(--moderate-cyan);
    padding-bottom: 0.5rem;
    transition: 0.5s;
}

.main-btn > a {
    color: var(--moderate-cyan);
}


.main-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}


blockquote {
    background: #fff;
    padding: 1rem 0.5rem 1rem 2rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.02);
    max-width: 350px;
    margin: 0 auto;
}

blockquote > p {
    margin: 1rem 0;
}

.owner-quote {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.owner-quote img {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: cover;
}


.signup {
    background: var(--desaturated-blue);
    color: #fff;
    text-align: center;
}

.signup-content,
.signup-form {
    width: 80%;
    margin: auto;
}



.signup input[type=submit] {
    margin-top: 1rem;
}

footer {
    background: var(--very-Dark-blue);
    padding: 4rem 2rem 2rem;
}

.grid-footer {
    width: 90%;
    margin: auto;
    display: grid;
    row-gap: 2rem;
    color: #fff;
}

.grid-footer img {
    filter: brightness(0) invert(1);
    width: 150px;
}

.nav-links-footer > ul li a {
    color: #fff;
    line-height: 2;
    transition: 0.5s;
}

.nav-links-footer > ul li a:hover {
    color: var(--desaturated-blue);
}

.fa-phone-volume,
.fa-regular,
.fa-brands {
    margin-right: 1rem;
    color: #fff;
}

.social {
    text-align: center;
}

.social > a > i:hover {
    color: var(--bright-blue);
}

#email-error {
    color:red;
}

@media screen and (min-width: 845px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    
    h1, h2, h3, p {
        text-align: left;
    }

    .header-img,
    .testimonial-img {
        order: 2;
    }

    .header-form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        padding-right: 5rem;
        
    }

    .header-form input[type=submit] {
        margin-top: 0;
    }

    .signup-content {
        margin-left: 0;
    }

    .signup-form {
        text-align: left;
    }

    .signup input[type=submit] {
        max-width: 40%;
    }


    .main-btn {
        margin-left: 0;
    }

    blockquote {
        margin: 0;
    }

    .grid-footer {
        grid-template-columns: repeat(autofit);
        grid-template-rows: 1fr auto;
    }

    .grid-footer img {
        grid-column: 1/6;
    }

}

